.previewTitle {
  font-size: 1.25rem;
}

.previewlink {
  display: block;
  text-decoration: none;
}

.previewImg {
  width: 80%;
  height: auto;
  border-radius: 50%;
  border: 10px solid #f3f3f3;
  margin: 0 auto;
  @media (min-width: 600px) {
    width: auto;
    height: auto;
  }
}

.previewHukidasi {
  position: relative;
  padding: 1rem 1rem 1.5rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  text-align: center;
  &::after {
    position: absolute;
    top: -12px;
    left: calc(50% - 19px);
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background: #ffffff;
    transform: rotate(45deg);
    border-radius: 2px;
  }
  time {
    padding: 1px 0.5rem 2px;
    background-color: #fafd5e;
    font-size: 10px;
    font-weight: bold;
    border-radius: 9px;
  }
  h3 {
    margin: 0.5rem 0 0;
  }
  .previewArrow {
    position: absolute;
    bottom: 0.2rem;
    right: 0.5rem;
    font-size: 0.75rem;
    font-weight: 900;
    transition: transform 0.3s;
  }
  @media (min-width: 600px) {
    text-align: left;
  }
}

.previewlink {
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
    .previewArrow {
      transform: translateX(0.25rem);
    }
  }
}
