.authorData {
  padding: 1.5rem 2.5rem;
  background: #f7f7f7;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  ._container {
    display: block;
    @media (min-width: 600px) {
      display: flex;
      align-items: flex-start;
    }
  }
  ._image {
    background-color: #fff;
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    overflow: hidden;
    margin: 0 auto 0.5rem;
    @media (min-width: 600px) {
      flex: 0 0 80px;
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  ._description {
    ._heading {
      font-size: 0.875rem;
      font-weight: 900;
      margin-top: 0;
      margin-bottom: 0.5rem;
      text-align: center;
      @media (min-width: 600px) {
        text-align: left;
      }
    }
    p {
      font-size: 0.875rem;
      margin: 0;
    }
  }
}
