@use '/src/assets/scss/variables' as val;

.footer {
  padding: 2.5rem 0 0;
  text-align: center;
  ._ornament {
    font-size: 1.25rem;
  }
  ._logo {
    width: 75px;
    margin: 0 auto 1rem;
    padding: 1.5rem 0 0.5rem;
    a {
      display: block;
    }
  }
  ._copyright,
  ._notice {
    display: block;
    font-size: 10px;
    strong {
      border-bottom: 1px dashed val.$textColor;
    }
    a {
      text-decoration: none;
    }
  }
  ._copyright {
    margin-top: 1rem;
  }
}
