.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/bg-hero.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  @media (min-width: 768px) {
    background-position: center;
    background-size: cover;
  }
}

.heroImage {
  width: calc(100% - 2rem);
  height: auto;
  img {
    height: auto;
  }
}

.heroDetails {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  bottom: 0;
  font-size: 14px;
  padding: 0 5em;
}

@media (min-width: 768px) {
  .hero {
    height: 31vw;
  }
  .heroImage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 430px;
    }
  }
}

@media (min-width: 1000px) {
  //
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1em;
}
