.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/bg-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vw;
}

.heroImage {
  height: 100%;
}

.heroImage img {
  width: auto;
  height: 100%;
}

.heroDetails {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  bottom: 0;
  font-size: 14px;
  padding: 0 5em;
}

@media (min-width: 600px) {
  .hero {
    height: 31vw;
  }
  .heroImage {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 420px;
    }
  }
}

@media (min-width: 1000px) {
  //
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1em;
}
