.hero {
	z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage {
	padding: 0 2rem;
  margin: 0;
  svg {
		width: 100%;
    height: auto;
  }
}

@media (min-width: 600px) {
  .hero {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .heroImage {
		padding: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
			width: auto;
    }
  }
}

@media (min-width: 1000px) {
  //
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1em;
}

#tamtam {
	transform-origin: right bottom;
	animation: tamtam 5s ease-in-out 1s infinite alternate;
}
@keyframes tamtam {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(0deg);
	}
	53% {
		transform: rotate(2deg);
	}
	56% {
		transform: rotate(-2deg);
	}
	59% {
		transform: rotate(2deg);
	}
	62% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
