.hero {
	z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgHero {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.heroImage {
  width: calc(100% - 2rem);
  height: auto;
  margin: 0;
  svg {
		width: 100%;
    height: auto;
  }
}

@media (min-width: 600px) {
  .hero {
    height: 30vw;
  }
  .heroImage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
			width: auto;
      max-height: 370px;
    }
  }
}

@media (min-width: 1000px) {
  //
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1em;
}
