.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 100px;
  padding: 1rem 0 0;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}
